---
import { fade } from "astro:transitions";
import Heading from "../components/Heading.astro";
import PostInfoPanel from "../components/PostInfoPanel.astro";
import { formatDate } from "../lib/date";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Heading title={frontmatter.title} className="font-mono uppercase" />
  <Fragment transition:animate={fade({ duration: "1s" })}>
    <p class="pb-2 text-center">
      Written by {frontmatter.author}
    </p>
    <p class="text-center">
      Published on {formatDate(frontmatter.publishDate)}
    </p>
    <PostInfoPanel>
      {frontmatter.description}
    </PostInfoPanel>
  </Fragment>
  <slot />
</Layout>
