---
import { formatDate } from "../lib/date";
import Layout from "./Layout.astro";
import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <h1>{frontmatter.title}</h1>
    <p transition:animate={fade({ duration: "2s" })}>
      Written by {frontmatter.author}
    </p>
    <p>Published on {formatDate(frontmatter.publishDate)}</p>
    <p>
      {frontmatter.description}
    </p>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <slot />
  </main>
</Layout>
<style>
  p {
    font-style: italic;
  }
</style>
